{% extends "layout.html" %}
{% from "macros.html" import render_form_group, render_checkbox_field, render_submit_field %}

{% block content %}

<div class="page-header">
    <h1>Login</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 border">
            <form method="POST" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ render_form_group(form.email) }}
                {{ render_form_group(form.password) }}
                {{ render_checkbox_field(form.remember_me) }}
                {{ render_submit_field(form.submit) }}
            </form>
        </div>
        <div class="col-md-4">
            User accounts are only required to make changes to 
            the lexicon and are not required to search it.  If 
            you do not have a user account and believe you should,
            please contact 
            <a href="mailto:sally.rice@ualberta.ca">Dr.Sally Rice</a>
            for more information.
        </div>
    </div>
</div>
{% endblock %} 
