{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Admin Page</h1>
</div>
    <div class="row">
        <div class="col-md-6">
            <strong>Users</strong><br/>
            <table class="table table-bordered table-striped table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th class="th-sm user-name" scope="col">Name</th>
                        <th class="th-sm user-email" scope="col">email</th>
                        <th class="th-sm user-is_admin" scope="col">Admin?</th>
                        <th class="th-sm user-edit" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="user-name">{{user.first_name}} {{user.last_name}}</td>
                        <td class="user-email">{{user.email}}</td>
                        <td class="user-is_admin">{{user.is_admin}}</td>
                        <td class="user-edit">
                            <a class="delete" href="#">[⌫]</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{url_for('auth.invite')}}">Invite new user</a>
        </div>
        <div class="col-md-6">
            <strong>Invitations</strong>
            <table class="table table-bordered table-striped table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th class="th-sm invitation-email" scope="col">email</th>
                        <th class="th-sm user-should_be_admin" scope="col">Admin?</th>
                        <th class="th-sm user-edit" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invite in invitations %}
                    <tr>
                        <td class="invitation-email">{{invite.email}}</td>
                        <td class="user-should_be_admin">{{invite.should_be_admin}}</td>
                        <td class="user-edit">
                            <a class="delete" href="#">[⌫]</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
