{% extends "layout.html" %}

{% from "macros.html" import render_field, render_submit_field %}

{% block content %}

<div class="page-header">
    <h1>Admin Page</h1>
</div>
    <div class="row">
    <div class="col-md-9">
            <strong>Users</strong><br/>
            <table class="table table-bordered table-striped table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th class="th-sm user-id" scope="col">User ID</th>
                        <th class="th-sm user-fname" scope="col">First Name</th>
                        <th class="th-sm user-lname" scope="col">Last Name</th>
                        <th class="th-sm user-email" scope="col">email</th>
                        <th class="th-sm user-is_admin" scope="col">User Type</th>
                        <th class="th-sm user-edit" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <form action="{{url_for('admin.edit_user')}}", method="POST">
                    {{ user.hidden_tag() }}
                    <tr>
                        <td class="user-id">{{user.id(id=False, size="2")}}</td>
                        <td class="user-fname">{{user.first_name(id=False, label=None_)}}</td>
                        <td class="user-lname">{{user.last_name(id=False, label=None)}}</td>
                        <td class="user-email">{{user.email(id=False, label=None)}}</td>
                        <td class="user-is_admin">{{user.is_admin(id=False, label=None)}}</td>
                        <td class="user-edit">
                            {{render_submit_field(user.submit)}}
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col-md-3">
        <strong>User management</strong></br>
        <form action="{{url_for('auth.invite')}}">
            <button id="newGlossModalSubmit" type="submit" class="btn btn-success btn-sm">New Invitation</button>
        </form>

        <br/>
        <strong>Static Content</strong></br>
        {% for static in statics%}
        <form action="{{url_for('admin.edit_static_content', name=static.name)}}">
            <button id="newGlossModalSubmit" type="submit" class="btn btn-primary btn-sm">Edit {{static.name}}</button>
        </form>
        <br/>
        {% endfor %}
    </div>
        <div class="col-md-9">
            <strong>Invitations</strong>
            <table class="table table-bordered table-striped table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th class="th-sm invitation-email" scope="col">email</th>
                        <th class="th-sm invitation-invited_at" scope="col">Invited at</th>
                        <th class="th-sm user-should_be_admin" scope="col">Admin?</th>
                        <th class="th-sm user-edit" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invite in invitations %}
                    <tr>
                        <td class="invitation-email">{{invite.email}}</td>
                        <td class="user-should_be_admin">{{invite.invited_at}}</td>
                        <td class="user-should_be_admin">{{invite.should_be_admin}}</td>
                        <td class="user-edit">
                            <a class="delete" href="#">[⌫]</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
