{% extends "layout.html" %}
{% from "macros.html" import render_form_row, render_form_group, render_submit_field %}

{% block content %}

<div class="container-fluid">
        <div class="form-row">
        {{ render_form_group(result.id, label="id", width=1, readonly=True) }}
        {{ render_form_group(result.last_edited_by, label="Last edited by", width=4, readonly=True) }}
        {{ render_form_group(result.last_edited_by, label="Last modified on", width=3, readonly=True) }}
        </div>

        {{ render_form_row(result.concept, label="Concept") }}
        {{ render_form_row(result.orthography, label="Source orthography") }}
        {{ render_form_row(result.stem_form, label="Stem") }}
        {{ render_form_row(result.ipa, label="IPA") }}
        {{ render_form_row(result.language, label="Language") }}
        {{ render_form_row(result.literal_gloss, label="Literal gloss") }}
        {{ render_form_row(result.morph, label="Morphology") }}
        {{ render_submit_field(result.submit, label="Save") }}

    </form>
            </table>
                <tbody>
                    {% for gloss in result.glosses %}
                    <tr>
                        <td class="gloss">{{gloss.gloss}}</td>
                        <td class="source">{{gloss.source}}</td>
                        <td class="page">{{gloss.page}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
