{% extends "layout.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="text-center">
                {{ title | safe }}
			</div>
		</div>
	</div>
    <br/>
	<div class="row">
		<div class="col-12">
            <div class="col-12">
                <a href="{{url_for('static', filename='images/map.jpg') }}">
                    <img class="float-right img-fluid rounded" src="{{ url_for('static', filename='images/map_thumb.jpg') }}"></img>
                </a>
            </div>
			<div class="pull-left">
                {{ text | safe }}
				<p> Currently serving {{ term_count }} orthographies.
			</div>
		</div>
	</div>
</div>
{% endblock %}

