{% macro render_field(field, label=None) -%}
    {% if field.type != 'HiddenField' %}
        {% if not label %}{% set label=field.label.text %}{% endif %}
        <label for="{{ field.id }}" class="control-label form-control-sm">{{ label|safe }}</label>
    {% endif %}
    {{ field(class_='form-control form-control-sm', **kwargs) }}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
<div class="form-check">
    <input class="form-check-input" type="checkbox" id="{{field.id}}" name="{{field.id}}">
    <label for="{{field.id}}" class="form-check-label" for="{{field.id}}">
	{{field.label}}
  </label>
</div>
{%- endmacro %}

{% macro render_form_row(field, label=None, width=10) -%}
  <div class="form-group row">
    <label for="{{field.id}}" class="col-sm-2 col-form-label col-form-label-sm">{{field.label.text}}</label>
    <div class="col-sm-{{width}}">
        {{ field(class_='form-control form-control-sm', **kwargs) }}
    </div>
  </div>
{%- endmacro %}

{% macro render_form_group(field, label=None, width=6) -%}
<div class="form-group col-sm-{{width}} {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }} ">
    {{ render_field(field, label, **kwargs) }}
</div>
{%- endmacro %}

{% macro render_select_field(field, label=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <button type="submit" class="btn btn-primary btn-sm">{{label}}</button>
{%- endmacro %}


{% macro render_pagination_link(page, form, active=False) -%}
{% set url= url_for('browse.browse_page',
    page=page,
    domain_id=form.domain.data,
    concept=form.concept.data,
    orthography=form.orthography.data,
    stem_form=form.stem_form.data,
    ipa=form.ipa.data,
    language=form.language.data,
    gloss=form.gloss.data,
    sort_column=form.sort_column.data) %}
    <li class="page-item {% if active %}active{%endif%}">
        <a class="page-link {% if active %}active{%endif%}" href="{{url}}">
	{{page}}
        </a>
    </li>
{%- endmacro %}
