{% macro render_field(field, label=None) -%}
    {% if field.type != 'HiddenField' %}
        {% if not label %}{% set label=field.label.text %}{% endif %}
        <label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
    {% endif %}
    {{ field(class_='form-control-sm', **kwargs) }}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro render_form_group(field, label=None, width="col-4") -%}
<div class="form-group {{width}} {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }} ">
    {{ render_field(field, label) }}
</div>
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <button type="submit" class="btn btn-primary">{{label}}</button>
{%- endmacro %}


{% macro render_pagination_link(page, form) -%}
{% set url= url_for('main.search_page',
    page=page, 
    concept=form.concept.data,
    term=form.term.data,
    gloss=form.gloss.data) %}
<li class="page-item"><a class="page-link" href="{{url}}">
	{{page}}
</a></li>
{%- endmacro %}
