{% extends "layout.html" %}

{% from "macros.html" import render_field, render_submit_field, render_prev_next %}

{% block content %}


<hr class="no-margins"/>

{{ render_prev_next(prev_url, next_url) }}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Domain</th>
            <th scope="col">Concept</th>
            <th scope="col">Term</th>
            <th scope="col">Morph</th>
            <th scope="col">Language</th>
            <th scope="col">Glosses</th>
        </tr>
    </thead>
    <thead>
        <form method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            <tr>
                <td> 
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value>--any--</option>
                    </select>
                </td>
                <td>
                    {{ form.concept(placeholder="search")  }}
                </td>
                <td>
                    {{ form.term(placeholder="search")  }}
                </td>
                <td>
                    TODO
                </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value>--any--</option>
                        {% for language in languages %}
                        <option value>{{language.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{ form.gloss(placeholder="search")  }}
                </td>
            </tr>
        <input type="submit" style="display:none">
        </form>
    </thead>
    <tbody>
        
        {% for result in results.items %}
        <tr>
            <td>{{result.concept.domain}}</td>
            <td>{{result.concept.name}}</td>
            <td>{{result.text}}</td>
            <td>{{result.morph_type}}</td>
            <td>{{result.language.name}}</td>
            <td>
                {% for gloss in result.glosses %}
                [<a href="#" data-toggle="tooltip" title='{{ gloss.source}} page {{ gloss.page  }}'>{{gloss.gloss}}</a>]
                {%endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{{ render_prev_next(prev_url, next_url) }}

{% endblock %}
