{% extends "layout.html" %}

{% from "macros.html" import render_field, render_submit_field, render_pagination_link %}

{% block content %}


<hr class="no-margins"/>

<table class="table table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">Domain</th>
            <th scope="col">Concept</th>
            <th scope="col">Term</th>
            <th scope="col">Morph</th>
            <th scope="col">Language</th>
            <th scope="col">Glosses</th>
        </tr>
    </thead>
    <thead>
        <form method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            <tr>
                <td> 
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value>--any--</option>
                    </select>
                </td>
                <td>
                    {{ form.concept(placeholder="search")  }}
                </td>
                <td>
                    {{ form.term(placeholder="search")  }}
                </td>
                <td>
                    TODO
                </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value>--any--</option>
                        {% for name in ["temp", "foo"] %}
                        <option value>{{name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{ form.gloss(placeholder="search")  }}
                </td>
            </tr>
            <input type="submit" style="display:none">
        </form>
    </thead>
    <tbody>

        {% for result in results.items %}
        <tr>
            <td>{{result.concept.domain}}</td>
            <td>{{result.concept.name}}</td>
            <td>{{result.text}}</td>
            <td>{{result.morph_type}}</td>
            <td>{{result.language.name}}</td>
            <td>
                {% for gloss in result.glosses %}
                [<a href="#" data-toggle="tooltip" title='{{ gloss.source}} page {{ gloss.page  }}'>{{gloss.gloss}}</a>]
                {%endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-4">
            Displaying results {{pagination_state.begin_cnt}} to {{pagination_state.end_cnt}} of {{results.total}}
        </div>
        <div class="col-8">
            {% set first_page = ([pagination_state.page-1,1] | sort)[-1] %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item {% if not pagination_state.prev_url %}disabled{% endif %}">
                  <a class="page-link" href="{{pagination_state.prev_url}}" tabindex="-1">&laquo;</a>
                </li>
				  {%- for page in results.iter_pages() %}
					{% if page %}
					  {% if page != results.page %}
						{{ render_pagination_link(page, form) }}
					  {% else %}
						<strong>{{ render_pagination_link(page, form) }}</strong>
					  {% endif %}
					{% else %}
					  <span class=ellipsis>…</span>
					{% endif %}
				  {%- endfor %}
                <li class="page-item {% if not pagination_state.next_url %}disabled{% endif %}">
                  <a class="page-link" href="{{pagination_state.next_url}}">&raquo;</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
